@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>



<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas
    </div>
    <div class="card-body">
        <form action="@Url.Action("ExportarVentas","Home") " method="post">
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="date" id="txtfechainicio" name="fechaInicio" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin:</label>
                        <input class="form-control" type="date" id="txtfechafin" name="fechaFin" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Id Transaccion:</label>
                        <input class="form-control" type="text" id="txtidtransaccion" name="IdTransaccion" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" id="btnbuscar" type="button"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                    </div>
                </div>

            </div>

        </form>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <table id="tabla" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha Venta</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>ID Transaccion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var tabladata;

        var Url = '@Url.Action("ListarPedidos", "Home")' +
            "?fechaInicio=" + "" +
            "&fechaFin=" + "" +
            "&IdTransaccion=" + ""


            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: Url,
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {"data":"FechaVenta"},
                    {"data":"Cliente"},
                    {"data":"Producto"},
                    {"data":"Precio"},
                    {"data":"Cantidad"},
                    {"data":"Total"},
                    {"data":"IdTransaccion"}
                ]

            });

        $("#btnbuscar").on("click", function () {

            var nueva_url = '@Url.Action("ListarPedidos", "Home")' +
            "?fechaInicio=" + $("#txtfechainicio").val() +
            "&fechaFin=" + $("#txtfechafin").val() +
            "&IdTransaccion=" + $("#txtidtransaccion").val() 

            tabladata.ajax.url(nueva_url).load();

        })


    </script>




}